#root, html, body {
  
  height: 70vh;
}


body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}